
@{
    ViewBag.Title = "Index";
}

<h2>AboutUs</h2>

<button id="popover" type="button" class="btn btn-lg btn-danger" data-bs-toggle="popover" title="Popover title" data-bs-content="And here's some amazing content. It's very engaging. Right?">Click to toggle popover</button>